*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Arial;

}
body{
padding: 0 10px;
background: #fff;
font-size: 18px;
}

h1{ 
  text-align: center;
}
pre{
  line-height: 1rem;
}

.container{
max-width: 900px;
width: 700px;
background:#0db7c4;
margin: 20px auto ;
padding: 40px;
box-shadow: 1px 1rem 2rem rgba(0,0,0,0.3);
font-size: 15px;
}
div{
margin: 12px 12px 10px 20px;
}
input[type=submit]{
background-color: white;
  border: none;
  color:#0db7c4;
  padding: 10px 32px;
  font-size:16px;
  margin: 4px 2px;
  cursor: pointer;
}